
body , html{
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 
    100vh;
}
.header{    
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #6165b8;
}
.navbar-scrolled{
    background-color: #ffffffd5 ;
    backdrop-filter: blur(5px);	 


}
.navbar-scrolled .navbar a{
    color: #000000;


}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 18px;
}
.navbar li{
    list-style: none;
}
.header img{
    width: auto;
    height: 50px;
}
.container{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    background-image: url(img/login\ banner\ .png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    justify-content: center;
    height: 100%;
}
.box{
    display: flex;
    margin-left: 300px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background-color: #bc97e76d;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:#c47ffd00;
    border-radius: 10px 0 0 10px;
    
}

.direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #f3b045;
}
.direita img{
    width: 500px;
    height: auto;

}
.inputBox{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    width: 80%;
    height: fit-content;
}
.texto h1{
    font-size: 35px;
    margin-bottom: 5px;
    color: #000000;
}
.texto p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}
.inputBox input{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}


label{
    font-size: 20px;
    margin-bottom: 5px;
    color:#000000;
}
.inputBox button{
    width: 30%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #f3b045;
    color: #fffffffd;
    font-size: 16px;
    align-self: center;
    cursor: pointer;
}
.inputBox button:hover{
    scale: 1.05;
    transition: 0.3s;
}
/*  */
.footer {
    background-color: #6165b8;
    color: #fff;
display: flex;
width: 100%;
    font-family: Arial, sans-serif;
    height: 250px;
    justify-content: center;
  }
  
  .footer-container {
    display: flex;
height: fit-content;
    justify-content: space-between;
    width: 100%;
    
    padding: 30px;
  }
  
  .footer-logo img {
    margin-top: 10px;
    width: 120px;
    
  }
  .footer-logo {
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: self-start;
  }
  
  .footer-logo p {
    font-size: 14px;
    color: #ccc;
  }
  

  
  .footer-links h3,
  .footer-social h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .footer-links a:hover {
    color: #f0a500;
  }
  
  .footer-social a {
    margin-right: 10px;
  }
  
  .footer-social img {
    width: 24px;
    transition: transform 0.2s ease;
  }
  
  .footer-social img:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  

  }
  .alerta_erro{
width: 100%;
  height: 100%;
  display: none ;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.card_erro {
  display:none;
  background-color: #fff;
  margin-top: 50px;
  color: black;
  width: 400px;
  height: fit-content;
  position: absolute;
  border-radius: 20px;
border: #f0a500 3px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  right: 0;
  bottom: 0;
  z-index: 1001;



}
.card_erro p{
    font-size: 25px;
    margin: 0;
    color: #000000;
}
.card_erro img {
  width: 200px;
  height: 200px;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}
.loading-div{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.loading-div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}